/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .block-editor-block-list__block.wp-block-sv-custom-blocks-sv-slider {
	border: 2px dotted rgb(70, 69, 69);
	min-height: 30px;
	padding: 2rem;
}
