<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Inter', sans-serif;
            color: #000000;
            text-align: justify;
        }
        h1 {
            font-size: 20px;
            line-height: 125%;
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            margin-bottom: 10px;
            text-align: center;
            color: #ff5e31;
        }

        td {
            padding: 0 50px;
        }
    </style>
</head>

<body>
    <table cellspacing="0" cellpadding="0"
        style="color:#515856;width:640px;min-width:640px;background-color:#ffffff;align-self:center;border:0">
        <tbody>
            <tr id="12GM_logo">
                <td style="text-align:center;">
                    <a href="https://12gm.lt" style="text-decoration:none" target="_blank">
                        <img src="https://ci3.googleusercontent.com/meips/ADKq_NZc1MEHepp_KZYf5vUwVd6GqnopNr15ayacTGtbehE9OXNgHacdwC6cH3LzLkHu55-I7hjQPrmJySoJL88RqdO9h4SUI8BbIg7tYGMBgYAkUyabR6JLxieZRK7q07BTGdR1AcByBVN0VgMnIaGWSuSG=s0-d-e1-ft#https://storage.mlcdn.com/account_image/393699/i6e81je7JyaKN9ovk6Mqrhtf5mEVontJwbwxj63R.png"
                            alt="" style="max-width:120px;display:inline-block;border:0" class="">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="font-weight: normal;">TAVO PRODUKTYVUMO TIPAS:</h1>
                    <h1 style="text-transform: uppercase;">{{name}}</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #778db5;font-style: italic;"> {{oneLiner}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{typeImg}}" alt="{{name}}" style="width: 100%;">
                </td>
            </tr>
            <tr>
                <td>
                    <p> {{description}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>TAVO STIPRYBĖS</h1>
                </td>
            </tr>
            <tr>
                <td>
                    {{strength}}
                </td>
            </tr>
            <tr>
                <td>
                    <h1>TAVO SILPNYBĖS</h1>
                </td>
            </tr>
            <tr>
                <td>
                    {{weakness}}
                </td>
            </tr>
            <tr>
                <td>
                    <h1>KAM VERTA SKIRTI DĖMESIO?</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{focus}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>KO VENGTI?</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{avoid}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>KAS TAU PADEDA?</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{help}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>KAS TAU TRUKDO?</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{disturb}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{typeGif}}" alt="{{name}}" style="width: 100%;">
                </td>
            </tr>
            <tr>
                <td>
                    <h1>IŠŠŪKIAI, SU KURIAIS SUSIDURI PLANUOJANT</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{challenge}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>PRATIMAI TAVO PRODUKTYVUMO DIDINIMUI</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>{{pratimas1h1}}</strong></p>
                    <p>{{pratimas1}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>{{pratimas2h1}}</strong></p>
                    <p>{{pratimas2}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>{{pratimas3h1}}</strong></p>
                    <p>{{pratimas3}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>PAPILDOMI PATARIMAI</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{advice}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>ĮRANKIAI</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="padding-bottom: 2em;">{{linkText}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <a href="{{link}}" target="_blank" style="background-color: #ff5e31; color: white; padding: 1em 1.5em; text-decoration: none; border-radius: 1em;">PERŽIŪRĖTI</a>
                </td>
            </tr>
            <tr>
                <td style="text-align: -webkit-center;padding-bottom: 1em;padding-top: 2em;">
                    <hr style="height: 1.5px; border-style: none; background-color: #e5e5e5; margin-bottom: 2em;">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding:0 25px 0 0; text-align: center; width: 18px; margin: 0 1em;">
                                    <a href="https://facebook.com/12gerumenesiu" style="text-decoration:none;"
                                        target="_blank">
                                        <img src="{{plugin_url}}assets/img/fb.png" alt="facebook" style="width: 30px;">
                                    </a>
                                </td>
                                <td style="padding:0 0 0 0; text-align: center; width: 18px;">
                                    <a href="https://instagram.com/12gerumenesiu" style="text-decoration:none;" target="_blank">
                                        <img src="{{plugin_url}}assets/img/insta.png" alt="instagram" style="width: 30px;">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="text-align: -webkit-center; padding-bottom: 1em;">
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="https://12gm.lt/apie/"
                                        style="font-family:'Inter',sans-serif;font-size:14px;line-height:150%;color:#000000;font-weight:normal;font-style:normal;text-decoration:none;white-space:nowrap"
                                        target="_blank"
                                        <span style="color:#000000">Apie</span>
                                        <span style="display:inline-block;padding:0 8px 0 5px">|</span>
                                    </a>

                                    <a href="https://12gm.lt/tekstai/"
                                        style="font-family:'Inter',sans-serif;font-size:14px;line-height:150%;color:#000000;font-weight:normal;font-style:normal;text-decoration:none;white-space:nowrap"
                                        target="_blank"
                                        <span style="color:#000000">Tekstai</span>
                                        <span style="display:inline-block;padding:0 8px 0 5px">|</span>
                                    </a>

                                    <a href="https://12gm.lt/produkto-kategorija/kursai/"
                                        style="font-family:'Inter',sans-serif;font-size:14px;line-height:150%;color:#000000;font-weight:normal;font-style:normal;text-decoration:none;white-space:nowrap"
                                        target="_blank"
                                        <span style="color:#000000">Kursai</span>
                                        <span style="display:none;padding:0 8px 0 5px">|</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                
                <td style="text-align:center!important; padding-bottom: 2em;">
                    <hr style="height: 1px; border-style: none; background-color: #e5e5e5; margin-bottom: 2em;">
                    <div><h5 style="font-family:'Inter',sans-serif;color:#000000;font-size:15px;line-height:125%;font-weight:bold;font-style:normal;text-decoration:none;margin-bottom:6px">12GM</h5></div>
                    <div><p style="font-family:'Inter',sans-serif;color:#515856;font-size:14px;line-height:150%;display:inline-block;margin-bottom:0;margin-block-start: 0;">Kęstučio g. 3, Kaunas<br>Lietuva</p></div>
                    <div><p style="font-family:'Inter',sans-serif;color:#515856;font-size:12px;line-height:150%;display:inline-block;margin-bottom:0;margin-block-start: 2em;">Gavai šį laišką, nes atlikai produktyvumo tipo testą 12GM tinklapyje</p></div>
            </td>
            </tr>

        </tbody>
    </table>
</body>

</html>