<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family:'Inter', sans-serif;
            color:#000000;
        }
        h1 {
            font-size:20px;
            line-height:125%;
            font-weight:bold;
            font-style:normal;
            text-decoration:none;
            margin-bottom:10px;
        }
        td {
            padding: 0 50px;
        }
    </style>
</head>

<body>
    <table cellspacing="0" cellpadding="0" style="color:#515856;width:640px;min-width:640px;background-color:#ffffff;align-self:center;border:0">
        <tbody>
            <tr id="12GM_logo">
                <td style="text-align:center;">
                            <a href="https://12gm.lt" style="text-decoration:none" target="_blank">
                <img src="https://ci3.googleusercontent.com/meips/ADKq_NZc1MEHepp_KZYf5vUwVd6GqnopNr15ayacTGtbehE9OXNgHacdwC6cH3LzLkHu55-I7hjQPrmJySoJL88RqdO9h4SUI8BbIg7tYGMBgYAkUyabR6JLxieZRK7q07BTGdR1AcByBVN0VgMnIaGWSuSG=s0-d-e1-ft#https://storage.mlcdn.com/account_image/393699/i6e81je7JyaKN9ovk6Mqrhtf5mEVontJwbwxj63R.png" alt="" style="max-width:120px;display:inline-block;border:0" class="">
            </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h1> Kodėl procesų valdymas – neatsiejama produktyvumo dalis?</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p> teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas teksas takstas tekstas tekstas tekstas</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>